        <form class="col-8 mx-auto">
            <div class="bg-primary p-3 m-2">
                <h1 class="text-white text-center">Create a group</h1>
            </div><br>

            <div class="form-group">
                <label for="groupName" class="form-label">Name your group</label>
                <input type="text" class="form-control col" id="groupName">
            </div><br><br>
            <div class="p-3 m-2">
                <h1 class="text-white text-center">Would you like to add other users?</h1>
            </div><br>
        {{!-- I have no idea how we're handling this yet --}}
            <div class="btn-group" role="group">
                <button type="submit" class="btn btn-success btn-lg btn-success">yes</button>
                <button type="submit" class="btn btn-success btn-lg btn-danger">no</button>
            </div>
        </form>
