<div>
  <div>                   
    <ul class="nav nav-tabs bg-dark m-3">
      <li class="bg-danger px-3 py-2"><a href="../views/layouts/main.hbs" class="text-white text-uppercase font-weight-bold">Sign In</a></li>
      <li class="active bg-info px-3 py-2"><a href="#" class="text-white text-uppercase font-weight-bold" >Sign Up</a></li>
    </ul>
  </div>
</div>