<h1>Welcome to {{group.name}} home page</h1>

<div class="container">
    <div class="row">
        <div class="col-8">
            <form id="addUserForm">
                <h2>Add a user to this group</h2>
                <div class="mb-3">
                    <label for="addUser" class="form-label">Username of User you would like to add</label>
                    <input type="text" class="form-control" id="addUser">
                </div>
                <button type="submit" id="addUserButton" data-id="{{group.id}}" class="btn btn-primary">ADD</button>
            </form>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <button type="button" class="btn btn-primary" id="addTaskBtn">Add New Task</button>
        <button type="button" class="btn btn-primary" id="addRoutineBtn">Add New Routine</button>
    </div>
    <div class="row">
        <div class="col-8">
            <form id="createTask">
                <div class="mb-3">
                    <label for="taskName" class="form-label">Task Name</label>
                    <input type="email" class="form-control" id="taskName" placeholder="Take out the trash.">
                </div>
                <div class="mb-3">
                    <label for="taskNotes" class="form-label">Add notes for this Task</label>
                    <textarea class="form-control" id="taskNotes" rows="3"></textarea>
                </div>
                <div class="mb-3">
                    <label for="userAssign" class="form-label">Assign this Task to a User in this Group</label>
                    <input class="form-control" list="datalistOptions" id="userAssign" placeholder="Search by Username">
                    <datalist id="datalistOptions">
                        {{#each users}}
                        <option value={{dataValues.username}}>
                        {{/each}}
                    </datalist>    
                </div>
                <button type="submit" class="btn btn-info" id="submitTask">Create Task</button>
            </form>
        </div>
    </div>
    <div class="row"></div>
</div>

<script src="/assets/js/group_page.js"></script>