<h1>Welcome!</h1>

<li>
    <ul>{{user.id}}</ul>
    <ul>{{user.email}}</ul>
</li>

<a class="btn btn-small" href="/logout">LOGOUT</a>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/homepage.js"></script>