<main>
{{!-- need add info to render functions: handlebars nesting else if per https://stackoverflow.com/questions/10736907/handlebars-js-else-if --}}

{{#if isUser.groupSelected}}
    {{!-- home for one of your groups, display tasks etc for that group --}}
    {{> userHome }}
{{else if isUser.notSelected}}
    {{!-- to select one of your groups --}}
    {{> yourGroups }}
{{else if isUser.createGroup}}
    {{!-- to create group --}}
    {{> groupCreation}}
{{else}}
    {{!-- for SignIn/up --}}
    {{> justHome }}
{{/if}}


</main>
